.sidebar{
    height: 100vh;
    flex: 0.2;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100vh;
    min-width: 230px;
    padding-right: 10px;
    padding-left: 10px;
}
.sidebar hr{
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}

.sidebar__logo{
    height: 70px;
    padding: 10px;
    margin-right: auto;
}

.sidebar__title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}